################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs/slnx.sqlite
/DataCraftServer/.vs/DataCraftServer/FileContentIndex/b97287f2-121c-4f4a-8934-2c3eb549fb1e.vsidx
